// HTW Color Scheme

$blue:        #003399;
$grey:        #afafaf;
$black:       #000000;
$white:       #ffffff;

$red:         #ea3e3e;
$yellow:      #ffcc00;
$darkyellow:  #ff9900;
$green:       #669900;
$lightblue:   #0099cc;
$darkgrey:    #666666;
$magenta:     #cc0066;

$cHTWBlue:    $blue;
$cHTWGrey:    $grey;

$cManagement: $red;
$cTourismus:  $yellow;
$cIW:         $green;
$cTechnik:    $lightblue;
$cBau:        $darkgrey;
$cMMP:        $magenta;

// Greys

$grey15l: lighten($grey, 15%);
$grey30d: darkent($grey, 30%);

.grey
{
    color: $cHTWGrey;
}

.blue
{
    color: $cHTWBlue;
}

.red
{
    color: $red;
}