@import "color_scheme.scss";

// Font management

$htwfont: Rockwell,Arial,sans-serif;
$htwbase: Arial, "Roboto Light", sans-serif;
$htwlogo: HTWLogoFontEOT, HTWLogoFontTTF, HTWLogoFontSVG;

// load the Logo-fonts
@font-face {
    font-family: 'HTWLogoFontSVG';
    src: url('../font/HTWChurLogo.svg') format('svg');
}

@font-face {
    font-family: 'HTWLogoFontTTF';
    src: url('../font/HTWChurLogo.ttf') format('truetype');
}

@font-face {
    font-family: 'HTWLogoFontEOT';
    src: url('../font/HTWChurLogo.eot');
}

.htwtext {
    font-family: $htwfont;
    font-weight: 800;
}

body {
    font-family: $htwbase;
}


.sz10 {
    font-size: 10px;
}

.sz20 {
    font-size: 20px;
}

.sz30 {
    font-size: 30px;
}

.sz40 {
    font-size: 40px;
}

.sz50 {
    font-size: 50px;
}

.sz60 {
    font-size: 60px;
}
