/**
 * HTW Chur CD
 */
/**
 * Basic Layout Parameter
 */
@font-face {
  font-family: 'HTWLogoFontSVG';
  src: url("HTWChurLogo.svg") format("svg"); }

@font-face {
  font-family: 'HTWLogoFontTTF';
  src: url("HTWChurLogo.ttf") format("truetype"); }

@font-face {
  font-family: 'HTWLogoFontEOT';
  src: url("HTWChurLogo.eot"); }

.htwtext {
  font-family: Rockwell, Arial, sans-serif;
  font-weight: 800; }

/**
 * HTW Logo Definition
 */
.htw {
  display: inline-block; }
  .htw.box {
    background-color: #ffffff;
    padding: .25em; }
    .htw.box > span {
      vertical-align: middle; }
  .htw.shadow {
    box-shadow: 5px 5px 7px #cccccc; }
  .htw.box.inverted {
    background-color: #000000;
    color: #ffffff; }
  .htw .logo {
    font-family: HTWLogoFontEOT, HTWLogoFontTTF, HTWLogoFontSVG;
    position: relative;
    z-index: 99; }
  .htw .stack {
    display: inline-block;
    width: 1em;
    font-size: 2.8em;
    line-height: 0; }
    .htw .stack .logo {
      position: absolute;
      top: 0;
      left: 0; }
  .htw .logo.full:before {
    content: "a"; }
  .htw .logo.block:before {
    content: "b"; }
  .htw .logo.tilt:before {
    content: "c"; }
  .htw .logo.text:before {
    content: "d"; }
  .htw .logo.text.tilt:before {
    content: "e"; }
  .htw .textlogo {
    display: inline-block; }
    .htw .textlogo p {
      margin: 0;
      padding: 0; }
      .htw .textlogo p:first-child {
        font-size-adjust: 1 !important; }
      .htw .textlogo p:last-child {
        font-size-adjust: 0.25; }

/**
 * Gradients
 */
.navbar-inverse .navbar-inner {
  background: #001a4d; }

/**
 * basic tags
 */
h1, h2, h3, a {
  color: #003399; }

#page-header .logo {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  margin-left: 10px;
  margin-right: 20px;
  background-position: 20px top;
  background-repeat: no-repeat;
  width: 100%; }

.dir-rtl .logo {
  background-position: right 20px;
  margin-left: 20px;
  margin-right: 10px; }

.user-profile .page-context-header {
  display: inline-block; }

.page-context-header {
  display: inline-block; }

.htw-header {
  padding-left: 10px; }

/**
 * Navbar hacks
 */
.navbar .brand {
  font-family: Rockwell, Arial, sans-serif; }

#page-site-index #page-navbar {
  display: inline-block;
  vertical-align: top;
  float: right; }

/**
 * AAI Hacks
 */
#user_idp_iddwrap {
  float: left;
  vertical-align: middle; }

#user_idp_iddtext {
  box-sizing: border-box;
  background-position: left center !important; }

#user_idp_iddicon {
  vertical-align: top !important; }

#user_idp_iddwrap + input {
  clear: both; }

/**
 * round user images
 */
.block_online_users .userpicture {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px; }

.page-header-image .userpicture {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px; }

.navbar .userpicture {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px; }

/**
 * Bootstrap 3 components hacks
 */
/* Jumbotron: Nice and BIG information */
.jumbotron {
  border-radius: 8px;
  padding: 30px 40px 30px 40px;
  margin-bottom: 30px;
  line-height: normal;
  color: #000000;
  background-color: #f2f2f2; }

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron .h1 {
  color: #000000; }

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200; }

.jumbotron > hr {
  border-top-color: #cccccc; }

/**
 * block backgrounds
 */
.block,
.coursebox {
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2; }

#block-region-content .block {
  background-color: #ffffff; }

.block .header h1,
.block .header h2 {
  color: darkent(#cccccc, 30%); }

#loginauthsection {
  min-height: 50vh; }

#loginauthsection .span6:last-child {
  border-left: 2px solid #cccccc; }

#page-footer {
  border-top: none; }

/**
 * Header Hacks
 */
.page-context-header .page-header-headings {
  margin-top: 0; }

/**
 * Remove the duplicate name. We already have the title banner
 */
#page-login-index #page-header,
#page-site-index #page-header .breadcrumb-nav,
#page-course-index-category .page-context-header,
#page-site-index .page-context-header {
  display: none; }
.logo {
    background-image: url([[setting:logo]]);
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
